body {
    display: grid;
    grid-template-areas: "options drawing-area";
    grid-template-columns: 30vw 70vw;
    background-color: hsl(0, 0%, 16%);
    grid-template-rows: 95vh;
}

#content {
    z-index: 0;
    background-image: linear-gradient(to right, rgb(229, 57, 53), rgb(194, 38, 47) 15%, rgb(194, 38, 47) 85%, rgb(229, 57, 53) 100%);
    width: 53vw;
    max-width: 38vw;
    height: 53vw;
    max-height: 38vw;
    border-style: solid;
    border-width: 0.1px;
    align-self: center;
    justify-self: center;
    border-radius: 2vw;
    grid-area: drawing-area;
}

button {
    width: 100%;
}

#gridSizeNumber {
    width: 100%;
    text-align: center;
    justify-self: center;
    align-self: center;
}


/* .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
} */

#box {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 45vw;
    max-width: 30vw;
    height: 45vw;
    max-height: 30vw;
    border-style: solid;
    border-width: 0.1px;
    margin: 4vw;
    /* transform: skew(-1deg, -6deg) scale(0.88); */
}

ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

li {
    margin: 2vh 1vw 2vh 1vw;
}

#options {
    grid-area: options;
    background-color: lightred;
    color: white;
    justify-self: right;
    align-self: center;
    border-style: solid;
    border-width: 0.1px;
}

.rowContainer {
    height: 100%;
    display: flex;
    align-content: stretch;
}

.etchBox {
    flex: 1;
    border-style: solid;
    border-width: 0.1px;
    width: 100%;
    height: auto;
    background-color: white;
}